config.ini
callcop-firebase-adminsdk-jj3i2-7f8718c3c3.json

# Python cache files
__pycache__/
*.py[cod]

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# PyCharm files
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environment
venv/
env/
*.venv
.env

# Logs
*.log

# Other common files to ignore
*.bak
*.swp
*.tmp
